@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
}

@media screen and (max-width:630px) {
    .about_me_left_section img {
        width: 60%;
    }
  }
  @media screen and (max-width:375px) {
    .about_me_rtop_section {
        flex-direction: column;
    }
  
    .about_me_rtop_section div {
        width: 100%;
    }
  }