* {
    box-sizing: border-box;
}

.about_me {
    margin: 0 10%;
    font-family: Poppins, sans-serif;
    position: relative;
    min-height: 600px;
}

.about_me h1 {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
}

.about_me_sections {
    display: grid;
    grid-template-columns: 40% 50%;
    gap: 5%;
    margin: 5% 0;
    height: 100%;
}

.about_me_left_section img {
    border-radius: 3em;
    height: 100%;
}

.about_me_right_section {
    display: grid;
    grid-template-rows: auto auto;
    gap: 5%;
    margin: 5% 0;
    height: 100%;
    font-size: large;
    color: rgb(85, 85, 85);
}

.about_me_rtop_section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.about_me_rtop_section h3 {
    text-align: center;
    color: black;
    margin-bottom: 10px;
}

.about_me_rtop_section p {
    text-align: center;
}

.about_me_rtop_section div p {
    margin: 0 0 15px 0;
}
.about_me_rbottom_section {

}

.about_me_rtop_section div {
    border: 1.5px solid grey;
    border-radius: 2em;
    width: 45%;
    padding: 0;
}
